image: docker:25

services:
  - docker:25-dind

variables:
  DOCKER_TLS_CERTDIR: ""
  IMAGE_TAG: "$CI_PIPELINE_IID"

stages:
  - build
  - scan

docker_build:
  stage: build
  script:
    - echo "Building frontend image"
    - docker build -t frontend:${IMAGE_TAG} ./frontend
    - echo "Building backend image"
    - docker build -t backend:${IMAGE_TAG} ./backend

trivy_scan:
  stage: scan
  image: aquasec/trivy:latest
  rules:
    - if: '$RUN_TRIVY == "true"'
  script:
    - trivy image --severity HIGH,CRITICAL --exit-code 1 frontend:${IMAGE_TAG}
    - trivy image --severity HIGH,CRITICAL --exit-code 1 backend:${IMAGE_TAG}
