image: docker:26

services:
  - name: docker:26-dind

variables:
  DOCKER_TLS_CERTDIR: ""
  DOCKER_HOST: tcp://docker:2375
  DOCKER_DRIVER: overlay2

stages:
  - build
  - test

before_script:
  - docker info
  - docker compose version

build_images:
  stage: build
  script:
    - echo "Building all services"
    - docker compose build

test_containers:
  stage: test
  script:
    - echo "Starting containers"
    - docker compose up -d
    - docker ps
    - sleep 20
    - docker compose logs frontend
    - docker compose logs backend
    - docker compose down
